@import url(//fonts.googleapis.com/css?family=Open+Sans:300,600);

body {
    margin: 0 0 50px 0;
    padding: 0;
    border-top: 10px solid #f65821;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 20px;
    color: #555;
}

h1, h2, h3, h4, h5, h6 {
    color: #f65821;
    font-weight: 300;
}

a {
    color: #4ea3d0;
    text-decoration: none;
}
a:visited {
    color: #4ea3d0;
}

p {
    font-weight: 300;
    line-height: 1.4em;
}

strong {
    color: #f65821;
    font-weight: 600;
}

#container {
    max-width: 820px;
    margin:0 auto;
}

.row {
    padding: 0 20px;
}

#main .content,
header.content,
#foot {
    text-align: center;
}

#description.content {
    padding-top: 30px;
}

#foot .content {
    padding-top: 20px;
}

#form {
    margin: 20px 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

input.txt {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0 10px;
    margin: 0 0 20px 0;
    height: 60px;
    line-height: 60px;
    width: 70%;
    font-size: 1.6em;
    color: #555;
    outline: none;
}

button.subcr {
    background: #f65821;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    cursor: pointer;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin: 0 0 10px 0;
    padding: 0;
    width: 140px;
    height: 50px;
}

footer {
    font-size: 0.889em;
}

.brand {
    margin-top: 40px;
}

.meta {
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    font-family: Georgia, Times, serif;
}

.meta li {
    margin: 8px 0;
}
