body {
    padding-top: 60px;
    margin-bottom: 80px;
}

.badge.grn {
    background-color: #5cb85c;
}

.badge.red {
    background-color: #d9534f;
}

h1 {
    margin-bottom: 30px;
}

.meta {
    padding-top: 60px;
}
