{% extends "default" %}
{% block content_wrapper %}
            <header class="content">
                <h1>{{ page.title }}</h1>
                <ul class="meta">
                    <li>Posted {{ page.date | date("Y/m/d") }}</li>
                </ul>
            </header>
            <div class="content article-content">
                {{ page.blocks.content|raw }}
            </div>
            <div class="content" id="form" style="text-align:center;">
                <hr /><br /><br />
                <form action="http://serversforhackers.us3.list-manage.com/subscribe/post?u=a8135265ae1b33559181e2f60&amp;id=5b5ccc2ff7" method="post">
                <p>If you like what you see here, check out <a href="/editions">past editions</a> and Signup to receive regular newsletters:</p>
                    <ul>
                        <li><input type="email" name="EMAIL" placeholder="Email Address" class="txt" value=""></li>
                        <li><button type="submit" class="subcr">Subscribe</button></li>
                    </ul>
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_a8135265ae1b33559181e2f60_5b5ccc2ff7" value=""></div>
                </form>
            </div>
{% endblock %}
{% block extra_scripts %}

  <!--[if lte IE 9]>
  <script src="/static/bower_components/html5-polyfills/classList.js"></script>
  <![endif]-->
  <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js" type="text/javascript"></script>
  <script type="text/javascript">
      (function(){
          var codeBlocks = document.querySelectorAll('.content pre, table code');
          [].forEach.call(codeBlocks, function(codeBlock){
              codeBlock.classList.add('prettyprint');
          });
          prettyPrint();
      })();
  </script>
{% endblock %}