{% extends "emails" %}
{% block content_wrapper %}
                <!-- content start -->
                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td>

                            <h1>Servers For Hackers</h1>
                            <p class="lead">A newsletter about servers, geared for developers</p>
                            {{ page.blocks.content|raw }}
                            <h3>Load Balancing</h3>
                            <ul>
                              <li><a href="#">This is the title.</a> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</li>
                              <li><a href="#">This is the title.</a> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</li>
                              <li><a href="#">This is the title.</a> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</li>
                              <li><a href="#">This is the title.</a> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</li>
                            </ul>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
{% endblock %}